.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .header {
    flex-wrap: wrap;
  }
}

.header-content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo {
  color: #262626;
  text-transform: capitalize;
  font: 700 32px/75% Rubik, sans-serif;
}

.nav {
  display: flex;
  gap: 20px;
  font-size: 16px;
}

@media (max-width: 991px) {
  .nav {
    flex-wrap: wrap;
  }
}

.nav-item {
  color: #262626;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 150%;
  font-family: Rubik, sans-serif;
}

.nav-item:first-child {
  color: #f29a2e;
}

.language-selector {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
  color: #666;
  font-weight: 400;
}

.language-selector-content {
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 14px;
  background-color: #fff;
  width: 66px;
  height: 66px;
  padding: 28px 16px;
}

.button {
  border-radius: 32px;
  box-shadow: 0px 16px 48px 0px rgba(31, 36, 48, 0.2);
  background-color: #f29a2e;
  color: #262626;
  padding: 20px 39px;
  font: 600 20px/120% Rubik, -apple-system, Roboto, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .button {
    padding: 0 20px;
  }
}

.login-button {
  margin-left: auto;
}

.main-content {
  margin-top: 4%;
  padding: 0 18px;
}

@media (max-width: 991px) {
  .main-content {
    margin-top: 40px;
  }
}

.hero {
  display: flex;
  justify-content: center;
}

.hero-content {
  display: flex;
  gap: 20px;
  width: 95%;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .hero-content {
    flex-direction: column;
    gap: 0;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .hero-text {
    width: 100%;
    margin-left: 0;
  }
}

.hero-title {
  font: 72px Abril Fatface, sans-serif;
}

@media (max-width: 991px) {
  .hero-title {
    font-size: 40px;
  }
}

.black {
  color: #262626;
}

.blue {
  color: #4eabbf;
}

.orange {
  color: #f29a2e;
}

.hero-subtitle {
  color: #949494;
  margin-top: 50px;
  font: 24px/167% Poppins, sans-serif;
}

@media (max-width: 991px) {
  .hero-subtitle {
    margin-top: 40px;
  }
}

.hero-actions {
  display: flex;
  margin-top: 60px;
  gap: 20px;
  font-size: 20px;
}

@media (max-width: 991px) {
  .hero-actions {
    margin-top: 40px;
  }
}

.signup-button {
  font-family: Rubik, sans-serif;
}

.login-link {
  text-decoration: underline;
  background: none;
  box-shadow: none;
  padding: 0;
}

.hero-features {
  display: flex;
  margin-top: 59px;
  gap: 20px;
  font-size: 18px;
  color: #282625;
  padding-right: 80px;
}

@media (max-width: 991px) {
  .hero-features {
    flex-wrap: wrap;
    padding-right: 20px;
    margin-top: 40px;
  }
}

.feature-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.feature-icon {
  width: 24px;
}

.feature-title {
  font-family: Poppins, sans-serif;
}

.hero-image {
  width: 50%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .hero-image {
    width: 100%;
    margin-top: 40px;
    margin-left: 0;
  }
}

.search-section {
  margin: auto;
  margin-top: 4%;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 24px 50px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 90%;
}

@media (max-width: 991px) {
  .search-section {
    margin-top: 40px;
    padding: 0 20px;
  }
}

.search-form-row {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .search-form-row {
    flex-direction: column;
    gap: 0;
  }
}

.search-form-column {
  display: flex;
  flex-direction: column;
  width: 33%;
}

@media (max-width: 991px) {
  .search-form-column {
    width: 100%;
  }
}

.search-form-field {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 991px) {
  .search-form-field {
    margin-top: 40px;
  }
}

.search-form-label {
  color: #282625;
  font-family: Poppins, sans-serif;
}

.search-form-input {
  border-radius: 16px;
  border: 1px solid #e1e3e5;
  margin-top: 16px;
  color: #949494;
  padding: 16px;
  font-family: Poppins, sans-serif;
}

.search-form-subrow {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .search-form-subrow {
    flex-direction: column;
    gap: 0;
  }
}

.search-form-subcolumn {
  display: flex;
  flex-direction: column;
}

.search-form-subfield {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 991px) {
  .search-form-subfield {
    margin-top: 40px;
  }
}

.search-button {
  border-radius: 14px;
  background-color: #ffa500;
  color: #000;
  padding: 8px;
  font: 500 20px Poppins, sans-serif;
  border: none;
  cursor: pointer;
  margin: auto 0;
}

@media (max-width: 991px) {
  .search-button {
    margin-top: 40px;
    padding: 0 20px;
  }
}

.footer-block {
  margin: auto;
  margin-top: 60px;
}

.footer-cards {
  margin: 15px auto;
  width: 60%;
}

.card-bg {
  background-color: white;
  padding: 12px 8px;
  border-radius: 32px;
  margin: 15px 3px;
}

.footer-cards-description {
  font-size: 12px;
}

.footer {
  margin: 45px auto;
  padding: 14px 16px;
  width: 95%;
  background-color: #262626;
  border-radius: 30px;
}

.footer-bg {
  color: white;
  padding: 15px 4px 0px 0px;
  width: 100%;
  background-color: #262626;
}

.footer-description {
  width: 70%;
}

.footer-nav:not(:first-child) {
  margin-top: 3px;
}

.footer-nav {
  font-size: 16px;
}

.footer-rights {
  margin: 12px 5px 0px 5px;
  padding: 12px 7px 5px 0px;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.bmi {
  border: 1px solid black;
}

.bmi-counter {
  border-radius: 15px;
}

.bmi-input {
  width: 35px;
}

.fridge-item {
  width: 100px
}

.background {
  z-index: -1;
  position: sticky;
}

